{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
<br><br>
    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                {% for i in ski %}
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        {% comment %} <h5 class="fw-bold text-primary text-uppercase">About Us</h5> {% endcomment %}
                        <h1 class="mb-0">{{ i.title }}</h1>
                    </div>
                    <p class="mb-4">{{ i.category }}</p>
                    <p class="mb-4">{{ i.description }}</p>
                
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        {% comment %} <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about.jpg' %}" style="object-fit: cover;"> {% endcomment %}
                        <video class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" style="object-fit: cover;" controls>
                            <source src="{{ i.video.url }}" type="video/mp4">
                          
                          </video>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- About End -->

{% endblock %}