{% extends 'admin/base.html' %}
{% load static %}
 {% block content %}
   <!-- Service Start -->
   <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Job Vacancies</h5>
            {% comment %} <h1 class="mb-0">Custom IT Solutions for Your Successful Business</h1> {% endcomment %}
        </div>
        <div class="row g-5">
            {% for i in ski %}
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">{{ i.jobtitle }}</h4>
                    <p class="m-0">Company Name: {{ i.company.user.first_name }}</p>
                    <p class="m-0">Experience: {{ i.experience }}</p>
                    <p class="m-0">Qualification: {{ i.qualification }}</p>
                    <p class="m-0">{{ i.description }}</p>
                    {% comment %} <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-trash"></i>
                    </a> {% endcomment %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->
 {% endblock %}