{% extends 'jobseeker/base.html' %}
{% load static %}
 {% block content %}

 <br><br><br><br><br>
 <!-- Contact Start -->
 <div class="container-xxl py-5">
     <div class="container">
         <div class="row g-0">
             <div class="col-lg-8 wow fadeIn" data-wow-delay="0.1s">
                 <div class="bg-secondary p-5">
                     <p class="d-inline-block bg-dark text-primary py-1 px-4">JoB Applications</p>
<!--                        <h1 class="text-uppercase mb-4">Have Any Query? Please Contact Us!</h1>-->
<!--                        <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>-->
                     <table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: white;">Candidate Details</th>
<th class="info" style="background-color: white;">Job Details</th>
<th class="info" style="background-color: white;" colspan="2">Status</th>
{% for dri in ski  %}

<tr>
 <td style="background-color: white;">Name: {{ dri.user.user.first_name}}<br>
    Email: {{ dri.user.user.email}}<br>
    Phone: {{ dri.user.phone}}<br>
    Experience: {{ dri.experience}} years<br>
    Qualification: {{ dri.qualification}}<br>
    Resume: <a href="{{ dri.resume.url }}" download>
        click here
       </a><br>
 </td>
 <td style="background-color: white;">Job Titile: {{ dri.vacancy.jobtitle}}<br>
    Qualification: {{ dri.vacancy.qualification}}<br>
    description: {{ dri.vacancy.description}}<br>
    Experience: {{ dri.vacancy.experience}}<br>
</td>
{% if dri.status == "approved" %}
<td style="background-color: white;"> Approved </td>
{% elif dri.status == "rejected" %}
<td style="background-color: white;"> Rejected </td>
{% elif dri.status == "scheduled" %}
<td style="background-color: white;"> Scheduled </td>
<td style="background-color: white;"><a href="ViewInterview?id={{ dri.id}}" class=" btn btn-danger">View Details</a></td>
{% endif %}
</tr>

 {% endfor %}
</table>
                 </div>
             </div>

         </div>
     </div>
 </div>
 <!-- Contact End -->

 {% endblock %}