{% extends 'user/base.html' %}
{% load static %}
 {% block content %}


 {% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<section class="ftco-section">

    <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-7 ftco-animate">
                            <form action="" method="post" class="billing-form">
                                {% csrf_token %}
    
                                <h3 class="mb-4 billing-heading">Add Feedback</h3>
                      <div class="row align-items-end">
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">Name</label>
                          <input type="text" name="name" value="{{user.first_name}}" class="form-control" placeholder="Enter Name" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                          <input type="text" name="email" value="{{user.email}}" class="form-control" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required>
                        </div>
                    </div>
    
                        <div class="w-100"></div>
                        <div class="col-md-12">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                          <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                            <label for="message">Feedback</label>
                    <textarea name="feedback" id="" cols="30" rows="7" class="form-control" placeholder="Feedback" required></textarea>
                        </div>
    
                        <div class="col-md-6">
                        <div class="form-group">
                      <button type="submit" class="btn btn-primary py-3 px-5">Submit</button>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-12">
                    </div>
                    </div>
                          </form>
    
                        </div>
              </div>
            </div>
          </div>
        </section>

 {% endblock %}