{% extends 'user/base.html' %}
{% load static %}
 {% block content %}

 <div class="container add-emp">		
    <center><h1 style="color:black;"><strong>Booking Details</strong></h1><br></center>
    <table class="table table-bordered table-hover">
            <tr>			
                {% comment %} <th class="p-3 mb-2 bg-primary text-light">Shop details </th> {% endcomment %}
                <th class="p-3 mb-2 bg-primary text-light">User Details</th>
                <th class="p-3 mb-2 bg-primary text-light">Order Details</th>
                <th class="p-3 mb-2 bg-primary text-light">status</th> 
               <th class="p-3 mb-2 bg-primary text-light">Feedback</th> 
                   
            </tr> 
            
            {% for x in ski %}
            <tr>
                 
                    <td>Name: {{x.user.user.first_name}}<br>
                        Email: {{x.user.user.email}}<br>
                        Phone: {{x.user.phone}}<br>
                        Address: {{x.user.address}}<br></td>
                    <td>
                        Worker Name: {{x.sworker.sworker.user.first_name}}<br>
                        Service: {{x.sworker.jobtype}}<br>
                        Mobile No.: {{x.sworker.sworker.phone}}<br>
                        Work Details: {{x.description}}<br>
                        Date-Time: {{x.date}}-{{x.time}}<br>
                       
                    </td> 
                    
                    {% if x.status == 'added' %}
                    
                    <td><a href="cancel_order?id={{ x.id}}" class=" btn btn-danger">Cancel</a></td>
                    {% elif x.status == 'rejected' %}
                    <td>Rejected</td>
                    {% elif x.status == 'approved' %}
                    <td>Approved</td>
                    {% else %}
                    <td>Completed</td>
                    <td><a href="Add_feedback?id={{ x.id}}" class=" btn btn-success">Feedback</a></td> 

                     
                     {% endif %}
                    
            </tr>  
            {% endfor %}

    </table>
</div>
 {% endblock %}